# IDEs and editors
.vscode/
.idea/
**/*~

# macOS
.DS_Store
**/.DS_Store

# dfx (Dfinity SDK)
.dfx/
**/declarations/

# Rust (used internally by Dfinity)
target/

# Node/Frontend builds
node_modules/
dist/
.svelte-kit/

# Env & secrets
.env

# Logs & debug
*.log

# Test coverage (if applicable)
coverage/

# Yarn lock file (if you're not using Yarn)
yarn.lock

# Custom
.projectReference